body
{
	background: #9DEBE9;
	margin-left: 5%;
	margin-top: 20%;
}

header
{
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 1;
	overflow: auto;
}



#geninfo
{
	position: relative;
	border : 5px solid blue;
	border-radius: 8px;
	background: lightblue;
	left: 180px;
	bottom: 120px;
}
#speinfo{
	position: relative;
	border : 3px solid blue;
	border-radius: 10px;
	background: lightblue;
	bottom: 150px;
}
#messme
{
	position: relative;
	left: -213px;
	top: 18px;
	background: lightblue;
	border: 1px solid blue ;
	border-radius: 5px;
}
#linkedin
{
	position: relative;
	top: 18px;
	left: -80px;


}
iframe{
	position: relative;
	left: 115px;
}
#availability
{
	position: relative;
	border: solid;
	left: 70%;
	top:-30%;
}