/*Positioned everything absolutely so that it's easier to shift around without affecting other things- 
remember to change values in jQuery too if necessary otherwise things don't line up*/
body
{
	/* background colour same as Spires */
	/* Margins can be changed and added obviously, will certainly change once implemeneted on actual Spires website*/
	background: #FAFAFA;
	margin-top: 100px;
	margin-left: 150px;
}
#tutpic
{
	/*Tutor profile picture*/
	background:none;
	position: absolute;
	top: 100px;
	/*Maybe photo should be a bit bigger?*/
	width:180;
	height:180px;
	border: #79D1EE solid 3px;
	border-radius:5px;
	box-shadow: 5px 0px 5px 0px #97A6AB; 
	margin: 10px;
	
}
/* revclick is the element to click to view reviews, z-index 1 because otherwise it'll be hidden by other stuff */
#revclick
{
	border: solid beige 1px; 
	border-radius: 10px; 
	background: linear-gradient(lightblue,#6E89EF); 
	position: relative;
	height: 22px;
	width: 60px; 
	text-align: center;
	position: absolute;
	top: 300px;
	left: 160px;
	overflow-y: auto;
	z-index: 1;

}
#revclick:hover
{
	background: linear-gradient(#6E89EF, lightblue);

}
.review{
	display: none;	
	background-color: #c0c0c0;
	margin: 10px;
	width: 360px;
	height: 50px;
	border: solid black 1px;
	border-radius: 10px;
	overflow-y: auto;
	
}

/* attachment elements which change colour when hovered over*/
.attach
{
	height: 22px;
	width: 22px;
	background: turquoise;
	position: absolute;
	text-align: center;
}
.attach:hover
{
	background: grey;
}
/* lining up these elements*/
#attach1
{
	position: absolute;
	top: 300px;
	left: 230px;
}
#attach2
{
	position: absolute;
	top: 300px;
	left: 260px;
}
#messme
{
	background: none;
	position: absolute;
	top: 300px;
	left: 290px;
}



.geninfo
{	
	/*General information*/
	width: 220px;
	height: 110px;
	border: solid #FAFAFA 3px;
	box-shadow: 5px grey;
	position: absolute;
	top: 140px;
	left: 400px;

}

.geninfo > *
{
	border: solid darkgrey 1px;
	border-radius: 10px;
	text-align: left;
	padding: 5px;
	margin: 3px;
	box-shadow: 1px 1px grey;
}
/* so that it's apparent you can click the words for prices and subjects*/

#subjects > span:hover
{
	color: blue;
	font-size: 20px
}

#prices:hover
{
	color: blue;
	font-size: 20px
}

/* initially hide table until prices is clicked*/
#tabprices
{
	display: none;
}

/* Start of Availability button*/
#dropav
{
	
	background: linear-gradient(lightblue,#6E89EF);
	width: 200px;
	box-shadow: 2px 2px #a0a0a0;
	text-align: center;
	text-shadow: 1px 1px grey;
	border-radius: 30px;
	padding: 10px;
	color: blue;
	position: absolute;
	top: 130px;
 	left: 1070px;
}
/* So people know to click*/
#dropav:hover
 {
 	background: linear-gradient(#6E89EF, lightblue);
 	font-size: 120%;

 }

 #availability
 {
 	/*The availability TABLE*/

 	display: none;
 	padding: 5px;
 	background: none;
 	width: 200px;
 	border: lightblue 3px;
 	border-radius: 10px;
 	position: absolute;
	top: 170px;
 	left: 1000px;
 	z-index: 1;
 	
 }


  .day
 {
 	/* The days of the week that are seen first*/
 	color: black;
 	text-shadow: 1px 1px silver;
 	text-align: center;
 	background: linear-gradient(lightblue, #6E89EF);
 	border-radius: 10px;
 	box-shadow: 5px 5px #97A6AB
 }
.day:hover
{
    background: linear-gradient(#6E89EF, lightblue);
    text-shadow: 1px 1px grey;
    text-decoration: underline;

}
/* This is a class to be used with jQuery so that one a  day is selected, it stays selected*/
.dayclicked
{
	color: black;
 	text-shadow: 1px 1px silver;
 	text-align: center;
 	background: linear-gradient(#6E89EF, lightblue);
    text-shadow: 1px 1px grey;
    text-decoration: underline;
 	border-radius: 10px;
 	box-shadow: 5px 5px #97A6AB
}
#times
 {
 	/*The times corresponding to a given day*/
 	
 	position: absolute;
 	top: 173px;
 	left: 900px;
 	

 }
 .times
 {
 	color: black;
 	text-shadow: 1px 1px silver;
 	text-align: center;
 	background: linear-gradient(lightblue, #6E89EF);
 	border-radius: 10px;
 	box-shadow: 5px 5px #97A6AB
 	padding: 10px;
 	display: none;
 }


/* End of Availability Button */

/* Just styling the info section*/
#grouped > *
 {
 	/* give all the drop down buttons and the boxes for AboutMe Edu. and Exp. the following style*/
 	width: 30%;
    padding: 5px;
    text-align: center;
    background: linear-gradient(#5d8edd, #a0a0a0);#;
    border: solid 1px #5d8edd;
    border-radius: 5px;
    box-shadow: 3px 3px #a0a0a0;
    margin: 10px;
    position: relative;
}


 .dropdown:hover
 {
 	background: linear-gradient(#6E89EF, lightblue);
 	font-size: 120%;
 }

#grouped
{
	position: absolute;
	top: 350px;
	width: 1000px;
}

/* if writing overflows the box it creates a scroll bar instead. Can change auto to scroll if it's better*/
#grouped > .dropped {
    padding: 80px;
    display: none;
    margin: 10px;
    position: relative;
    overflow-y: auto;
    }

    
.vid
{
	width: 600px;
	height: 300px;
	border-radius:10px;
	border: solid grey 1px;
	box-shadow: 2px 2px grey;
	position: absolute;
	top: 355px;
	left: 700px;

}



